<template>
	<div style="position: relative;">
		<slot></slot>
		<div :class="{ overlay: enabled }" v-if="enabled">
			<v-progress-circular indeterminate class="red--text"></v-progress-circular>
			{{ text }}
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			enabled: {
				type: Boolean,
				default: true,
			},
			text: {
				type: String,
				default: '',
			},
		},
	}
</script>

<style scoped>
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.25);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
