<template>
	<div>

		<v-alert :value="auth.houseId" error class="mb-4">
			You are already a member!
			<br>
			Accepting this invite will cause you to lose your previous membership!
		</v-alert>

		<v-card v-if="isInviteReady">
			<v-card-row>
				<v-card-title class="primary white--text">
					Accept Invite?
				</v-card-title>
			</v-card-row>
			<v-card-row>

				<my-data-table>
					<thead>
						<tr>
							<th>Members</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="[ memberKey, member ] in sortedMemberPairs">
							<td>
								<v-card-row>
									<v-card-text>
										{{ member.displayName }}
									</v-card-text>
										<v-btn v-if="memberKey === inviteMemberId" @click.native="acceptInvite">It's me!</v-btn>
								</v-card-row>
							</td>
						</tr>
					</tbody>
				</my-data-table>

			</v-card-row>
		</v-card>

		<v-card v-if="isUnauthorized">
			<v-card-row>
				<v-card-title class="error white--text">
					Invite Expired
				</v-card-title>
			</v-card-row>
			<v-card-row>
				<v-card-text>
					<p>The link you used has expired.</p>
					<p>You can either:</p>
					<ul>
						<li>ask for a new link and try again, or</li>
						<li><router-link to="/start-a-new-house">create your own house</router-link></li>
					</ul>
				</v-card-text>
			</v-card-row>
		</v-card>

		<v-dialog-fixed :value="!isInviteReady && !isUnauthorized" persistent transition="div">
			<v-card>
				<v-card-row>
					<v-card-title class="info white--text">Loading</v-card-title>
				</v-card-row>
				<v-card-row>
					<v-card-text>Checking for access...</v-card-text>
				</v-card-row>
			</v-card>
		</v-dialog-fixed>

	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth", "inviteHouseId", "inviteMemberId", "inviteId" ],
		data() {
			return {
				isInviteReady:  false,
				isUnauthorized: false,
				members:        {},
			}
		},
		mounted() {
			db.ref(`/users/${this.auth.uid}/inviteId`).set(this.inviteId).then(() => {
				db.ref(`/houses/${this.inviteHouseId}/members`).once('value').then(snapshot => {
					this.members = snapshot.val()
					this.isInviteReady = true
				}, error => {
					this.isUnauthorized = true
				})
			})
		},
		computed: {
		},
		methods: {
			acceptInvite() {
				// add uid to permenant user access list (and set our member association)
				db.ref(`/houses/${this.inviteHouseId}/users/${this.auth.uid}`).set(this.inviteMemberId).then(() => {
					// set this house as the user's default house
					db.ref(`/users/${this.auth.uid}/houseId`).set(this.inviteHouseId).then(() => {
						// remove this invite now that it has been used
						db.ref(`/houses/${this.inviteHouseId}/invites/${this.inviteId}`).remove().then(() => {
							// redirect to dashboard!
							this.$router.push('/dashboard')
						})
					})
				})
			},
		},
	}
</script>

<style scoped>
</style>
