<template>
	<div>
		
		<form novalidate @submit.stop.prevent="addActivity">

		<v-card>
			<v-card-row>
				<v-card-title class="primary white--text">
					Add an activity...
				</v-card-title>
			</v-card-row>
			<v-card-row class="pa-3">

				<v-layout row wrap flex>

					<v-flex xs12 sm6 md4 lg2>
						<v-select hide-details label="Name" v-model="memberId"
							required :items="memberSelectList"></v-select>
					</v-flex>

					<v-flex xs12 sm6 md4 lg2>
						<v-select hide-details label="Chore" v-model="choreId"
							required :items="choreSelectList"></v-select>
					</v-flex>

					<v-flex xs12 sm6 md4 lg2>
						<v-menu lazy :close-on-content-click="false"
							transition="v-scale-transition" offset-y :nudge-left="40" style="display: block;">
							<v-text-field slot="activator" hide-details label="When"
								:value="date || 'Now'" readonly
								:prepend-icon="date ? 'close' : undefined"
								:prepend-icon-cb="() => { date = '' }"
								></v-text-field>
 							<v-date-picker v-model="date" no-title scrollable
 								:date-format="datePickerDateFormatEmptyFix"></v-date-picker>
						</v-menu>
					</v-flex>

					<v-flex xs12 sm6 md4 lg1>
						<v-text-field hide-details label="Quantity" v-model="units" required></v-text-field>
					</v-flex>

					<v-flex xs12 sm6 md4 lg4>
						<v-text-field hide-details label="Note..." v-model="note"></v-text-field>
					</v-flex>

					<v-flex xs12 sm6 md4 lg1>
						<v-card-row class="pt-2">
							<v-spacer></v-spacer>
							<v-btn dark default type="submit" :disabled="!formIsValid">Add</v-btn>
						</v-card-row>
					</v-flex>
				</v-layout>

			</v-card-row>
		</v-card>
		
		</form>

	</div>
</template>

<script>
	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		props: [ "members", "chores", "authMemberId" ],
		data: function() {
			return {
				memberId: undefined,
				choreId:  undefined,
				date:     undefined,
				units:    undefined,
				note:     undefined,
			}
		},
		mounted() {
			console.log(`mounted authMemberId = ${JSON.stringify(this.authMemberId)}`)
			this.resetAddForm()
		},
		computed: {
			formIsValid: function() {
				return ( this.memberId && this.choreId && this.units )
			},
			memberSelectList: function() {
				return _.map(this.members, (member, memberId) => { return { value: memberId, text: member.displayName } })
			},
			choreSelectList: function() {
				return _.map(this.chores, (chore, choreId) => { return { value: choreId, text: this.getChoreTitle(choreId) } })
			},
			dateAsString: function() {
				return this.date ? this.date : 'Now'
			},
		},
		methods: {
			resetAddForm() {
				this.memberId = this.authMemberId
				this.choreId  = undefined
				this.date     = ""
				this.units    = 1
				this.note     = ""
			},
			addActivity() {
				if (!this.formIsValid) { return }

				var newActivity = _.clone(this.$data)

				if (newActivity.date) {
					newActivity.date = new Date(newActivity.date).getTime()
				}
				else {
					newActivity.date = new Date().getTime() // or firebase.database.ServerValue.TIMESTAMP?
				}

				this.$emit('addActivity', newActivity)
				this.resetAddForm()
			},
			datePickerDateFormatEmptyFix(val) {
				return val ? new Date(val).toISOString().substr(0, 10) : ''
			},
		},
	}
</script>
