<template>
	<v-app>
		<v-navigation-drawer temporary light v-model="drawer">
			<v-list dense>

				<NavMenuLink v-if="auth.houseId" @click="linkTo('/dashboard')" icon="assignment"      >Dashboard</NavMenuLink>
				<NavMenuLink v-if="auth.houseId" @click="linkTo('/chores')"    icon="account_balance" >Configure Chores</NavMenuLink>
				<NavMenuLink v-if="auth.houseId" @click="linkTo('/members')"   icon="people"          >Configure Members</NavMenuLink>
				<NavMenuLink v-if="auth.uid"     @click="logout"               icon="exit_to_app"     >Logout ({{auth.email}})</NavMenuLink>

				<NavMenuLink v-if="!auth.uid"    @click="drawer = false"       icon="account_box"     >Login</NavMenuLink>

			</v-list>
		</v-navigation-drawer>
		<v-toolbar light fixed>
			<v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>ChoreScore</v-toolbar-title>
		</v-toolbar>

		<main>
			<v-container fluid>

				<div v-if="!auth.uid">

					<Login></Login>

				</div>
				<div v-else-if="!loadingStatus">

					<router-view :auth="auth"></router-view>

				</div>

			</v-container>
		</main>
		<!--<v-footer></v-footer>-->
		
		<v-dialog-fixed :value="!!loadingStatus" persistent transition="div" debugName="app">
			<v-card>
				<v-card-row>
					<v-card-title class="info white--text">Loading</v-card-title>
				</v-card-row>
				<v-card-row>
					<v-card-text>{{ loadingStatus || "Transitioning" }}...</v-card-text>
				</v-card-row>
			</v-card>
		</v-dialog-fixed>
	</v-app>
</template>
<script>
	
	import firebase from './firebase-integration'

	var appData = {
		loadingStatus: 'Connecting to server',
		drawer: false,
		auth: {
			uid:      undefined,
			email:    undefined,
			houseId:  undefined,
			memberId: undefined,
		},
	}

	//firebase.database().ref('.info/connected').on('value', function(snapshot) {
	//	if (snapshot.val() === true) {
	//		appData.connected = true
	//	}
	//})

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		data: function() { return appData },
		mounted: function() {
			firebase.auth().onAuthStateChanged( this.onAuthStateChanged ) // firebase auth event calls this.onAuthStateChanged
		}, 
		components: {
			Login: require('./Login.vue'),
			NavMenuLink: require('./components/NavMenuLink.vue'),
		},
		computed: {
		},
		methods: {
			logout() {
				firebase.auth().signOut()
				this.linkTo('/')
			},
			linkTo(url) {
				this.$router.push(url)
				this.drawer = false
			},
			onAuthStateChanged(user) {
				console.log(user)

				if (!user) {
					this.auth.uid      = undefined
					this.auth.houseId  = undefined
					this.auth.memberId = undefined
					this.loadingStatus = undefined
					return
				}

				this.auth.uid   = user.uid
				this.auth.email = user.email

				this.loadingStatus = 'Loading your data'

				firebase.database().ref(`/users/${this.auth.uid}`).on('value', snapshot => {
					var userData = snapshot.val()

					console.log(userData)

					if (userData && userData.houseId) {
						this.auth.houseId  = userData.houseId
						this.auth.memberId = userData.memberId
						this.loadingStatus = undefined
					}
					else {
						// if there's no user data, assume the user is new!
						console.log('NEW USER!')
						if (this.$route.name !== 'AcceptInvite') {
							this.$router.push('/start-a-new-house')
						}
						this.loadingStatus = undefined
					}
				})
			},
		},
	}

</script>

