<template>
	<div>

		<v-card>
			<v-card-row><v-card-title class="primary white--text">Configure Chores</v-card-title></v-card-row>

			<draggable v-model="sortedChorePairs" @input="onChoreDrag" :options="{ handle: '.drag-handle' }" class="mt-2" style="width: 100%;">
				<transition-group name="flip-list">
					<div v-for="[ choreKey, chore ] in sortedChorePairs" :key="choreKey">
						<v-card-row>
							<v-btn style="flex: 0 0 40px;" icon floating small class="grey lighten-2 drag-handle mx-3"><v-icon dark>swap_vert</v-icon></v-btn>
							<v-layout row flex wrap>
								<v-flex xs12 sm6><v-text-field label="Name"     v-model="chore.name"       single-line hide-details style="margin: 0;"></v-text-field></v-flex>
								<v-flex xs12 sm6><v-text-field prefix="Points:" v-model="chore.multiplier" single-line hide-details style="margin: 0;" type="number"></v-text-field></v-flex>
							</v-layout>
							<v-btn style="flex: 0 0 40px;" icon floating small @click.native="setOrToggleTinkeredChore(choreKey)" :class="{ primary: tinkeredChoreKey === choreKey }"><v-icon medium dark>build</v-icon></v-btn>
							<v-btn style="flex: 0 0 40px;" icon floating small @click.native="deleteChore(choreKey)"><v-icon medium dark>delete</v-icon></v-btn>
						</v-card-row>
						<div v-for="[ memberKey, member ] in sortedMemberPairs" :key="memberKey">
							<v-card-row v-if="tinkeredChoreKey === choreKey || chore.shares[memberKey] !== undefined">
								<v-layout row flex wrap style="margin-left: 80px; margin-right: 80px; align-items: center;">
									<v-flex xs12 sm6>
										<v-text-field
											:prefix="member.displayName + '\'s share:'"
											:suffix="tinkeredChoreKey !== choreKey ? '' : '+' + choreShareBonuses[choreKey][memberKey] + ''"
											:value="chore.shares[memberKey] === undefined ? 1 : chore.shares[memberKey]"
											@input.native="updateChoreShareField(choreKey, memberKey, $event)"
											single-line hide-details style="margin: 0;"
											:disabled="tinkeredChoreKey !== choreKey"
										></v-text-field>
										
									</v-flex>
								</v-layout>
							</v-card-row>
						</div>
					</div>
				</transition-group>
			</draggable>

			<v-card-row class="pa-2">
				<v-btn @click.native="addChore">New Chore</v-btn>
				<v-spacer></v-spacer>
				<v-btn @click.native="saveChores" :disabled="isChoreListUnchanged || !isChoreListValid || isSaving" :loading="isSaving">Save</v-btn>
				<v-btn @click.native="loadChores" :disabled="isChoreListUnchanged">Cancel</v-btn>
			</v-card-row>
		</v-card>

		<basic-dialog v-model="showingCannotDeleteAssocActivityDialog" title="Cannot Delete Chore" cls="error">
			You cannot delete this chore until all of its associated activities have been deleted.
		</basic-dialog>
		<basic-dialog v-model="showingDialogConfirmDelete" title="Delete Chore?" cls="error" yes="Yes" no="No" @yes="confirmDeleteChore">
			<p>Are you sure you want to delete the chore "{{ chores[choreKeyToDelete] ? chores[choreKeyToDelete].name : '?' }}"?</p>
			<p>Note: the chore will not be deleted until you click Save.</p>
		</basic-dialog>


	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth" ],
		firebase: function() {
			return {
				members: { asObject: true,  source: db.ref(`/houses/${this.auth.houseId}/members`) },
			}
		},
		data() {
			return {
				chores:           {},
				choresOriginal:   [],
				tinkeredChoreKey: undefined,
				isSaving:         false,
				showingCannotDeleteAssocActivityDialog: false,
				showingDialogConfirmDelete:             false,
				choreKeyToDelete:                       undefined,
			}
		},
		mounted() {
			this.loadChores()
		},
		computed: {
			allDataLoaded() {
				return this[".firebaseAllLoaded"]
			},
			isChoreListUnchanged() {
				return _.isEqual(this.chores, this.choresOriginal)
			},
			isChoreListValid() {
				return _.every(this.chores, chore => { return chore.name && chore.multiplier > 0 })
			},
		},
		methods: {
			loadChores() {
				db.ref(`/houses/${this.auth.houseId}/chores`).once('value').then(snapshot => {
					this.chores = snapshot.val()
					_.each(this.chores, chore => { Vue.set(chore, 'shares', chore.shares || {}) }) // vivify chore.shares (support old data format)
					this.choresOriginal = _.cloneDeep(this.chores)
				})
				this.resetTinkeredChore()
			},
			onChoreDrag(newSortedChores) {
				var order = 0
				_.each(newSortedChores, ( [ choreKey, chore ] ) => {
					this.chores[choreKey].order = order++
				})
			},
			addChore() {
				var newOrder = (_(this.chores).map('order').max() || 0) + 1
				var newKey   = 'c' + ((_(this.chores).keys().map( key => key[0] === 'c' ? parseInt(key.substr(1)) : 0 ).max() || 0) + 1)
				var newChoreDict = {
					name:       undefined,
					multiplier: undefined,
					shares:     {},
					order:      newOrder,
				}
				Vue.set(this.chores, newKey, newChoreDict)
				this.resetTinkeredChore()
			},
			deleteChore(choreKey) {
				db.ref(`/houses/${this.auth.houseId}/activities`).orderByChild('choreId').equalTo(choreKey).limitToFirst(1).once('value').then(snapshot => {
					if (snapshot.val() === null) {
						this.showingDialogConfirmDelete = true
						this.choreKeyToDelete           = choreKey
					}
					else {
						this.showingCannotDeleteAssocActivityDialog = true
					}
				})
			},
			confirmDeleteChore() {
				Vue.delete(this.chores, this.choreKeyToDelete)
			},
			setOrToggleTinkeredChore(choreKey) {
				this.tinkeredChoreKey = (this.tinkeredChoreKey === choreKey) ? undefined : choreKey
			},
			resetTinkeredChore() {
				this.tinkeredChoreKey = undefined
			},
			updateChoreShareField(choreKey, memberKey, event) {
				var choreShares    = this.chores[choreKey].shares
				var newString      = event.target.value
				var newNumber      = isNaN(parseFloat(newString)) ? 1 : parseFloat(newString)
				if (newString === '' || newNumber === 1) {
					Vue.delete(choreShares, memberKey)
				}
				else {
					Vue.set(choreShares, memberKey, newNumber)
				}
			},
			saveChores() {
				this.choresOriginal = _.cloneDeep(this.chores)
				this.isSaving = true
				db.ref(`/houses/${this.auth.houseId}/chores`).set(this.chores).then(() => {
					this.isSaving = false
					this.retotalScores()
				})
				this.resetTinkeredChore()
			},
		},
	}
</script>

<style scoped>
	.flip-list-move {
  	transition: transform 0.5s;
	}
</style>
