<template>
	<div>

		<v-card>
			<v-card-row>
				<v-card-title class="primary white--text">
					Leaderboard
				</v-card-title>
			</v-card-row>
			<v-card-row>

				<my-data-table>
					<thead>
						<tr>
							<th>Member</th>
							<th>Score</th>
							<th>Delta</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="[ memberKey, member ] in sortedMemberPairs">
							<td>{{ member.displayName }}</td>
							<td>{{ member.totalScore }}</td>
							<td>{{ getScoreExplanationForMember(member) }}</td>
						</tr>
					</tbody>
				</my-data-table>

			</v-card-row>
		</v-card>

		<br>

		<AddActivityForm v-if="myMemberId"
			:members="members"
			:chores="chores"
			:authMemberId="myMemberId"
			@addActivity="addActivity"
		></AddActivityForm>

		<br>
		
		<!--<v-btn block @click.native="retotalScores">Retotal</v-btn>-->

		<v-card>
			<v-card-row>
				<v-card-title class="primary white--text">
					Activity Log
				</v-card-title>
			</v-card-row>
			<v-card-row>

				<my-data-table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Member</th>
							<th>Chore</th>
							<th>Note</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="[ activityKey, activity ] in sortedActivityPairs">
							<td><nobr>{{ formatDate( activity.date ) }}</nobr></td>
							<td>{{ activity.memberId ? members[ activity.memberId ].displayName : '???' }}</td>
							<td>{{
								(activity.choreId ? getChoreTitle( activity.choreId ) : '???')
								+ (activity.units === 1 ? '' : ' x ' + activity.units)
							}}</td>
							<td>{{ activity.note }}</td>
							<td><v-btn icon small @click.native.stop="deleteActivity(activityKey)"><v-icon medium dark>delete</v-icon></v-btn></td>
						</tr>
					</tbody>
				</my-data-table>

			</v-card-row>
		</v-card>

		<basic-dialog v-model="showingDialogConfirmDelete" title="Delete Activity?" cls="error" yes="Yes" no="No" @yes="confirmDeleteActivity">
			<p>Are you sure you want to delete this activity?</p>
			<p>You cannot undo this action!</p>
		</basic-dialog>

	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth" ],
		firebase() {
			return {
				members:    { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/members`) },
				chores:     { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/chores`) },
				activities: { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/activities`).orderByChild('date').limitToLast(100) },
				myMemberId: { asScalar: true, source: db.ref(`/houses/${this.auth.houseId}/users/${this.auth.uid}`) },
			}
		},
		data() {
			return {
				showingDialogConfirmDelete: false,
				activityKeyToDelete:        undefined,
			}
		},
		computed: {
			allDataLoaded() {
				return this[".firebaseAllLoaded"]
			},
			highestScore() {
				return _.maxBy(_.values(this.members), 'totalScore').totalScore
			},
		},
		methods: {
			getScoreExplanationForMember(member) {
				if (member.totalScore >= this.highestScore) {
					return 'Leading!'
				}
				else {
					return 'Behind by ' + this.formatNumber(this.highestScore - member.totalScore)
				}
			},
			addActivity(activity) {
				db.ref(`/houses/${this.auth.houseId}/activities`).push(activity)
				var memberScoreDeltas = this.calculateMemberScoresForActivity(activity)
				this.incrementMemberScores(memberScoreDeltas)
			},
			deleteActivity(activityKey) {
				this.showingDialogConfirmDelete = true
				this.activityKeyToDelete        = activityKey
			},
			confirmDeleteActivity() {
				var activityKey = this.activityKeyToDelete
				var activity = this.activities[activityKey]
				var memberScoreDeltas = this.calculateMemberScoresForActivity(this.activities[activityKey]) // grab this.activities[activityKey] before it's deleted synchronously below
				db.ref(`/houses/${this.auth.houseId}/activities`).child(activityKey).remove()
				memberScoreDeltas = _.mapValues(memberScoreDeltas, score => -score) // negate
				this.incrementMemberScores(memberScoreDeltas)
			},
		},
		components: {
			AddActivityForm: require('./AddActivityForm.vue'),
		},
	}
</script>

