<!DOCTYPE html>
<meta charset="utf-8">

<!-- phone stuff -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes"><!-- full screen in mobile safari? -->
<link rel="manifest" href="/manifest.json">

<!-- http://realfavicongenerator.net/favicon_result?file_id=p1bj96ljbe139v14m4ij813qfg106#.WUxmZ2jyuUk -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2017-06-22">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2017-06-22">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=2017-06-22">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2017-06-22">
<link rel="manifest" href="/manifest.json?v=2017-06-22">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2017-06-22" color="#3f83b7">
<link rel="shortcut icon" href="/favicon.ico?v=2017-06-22">
<meta name="apple-mobile-web-app-title" content="ChoreScore">
<meta name="application-name" content="ChoreScore">
<meta name="theme-color" content="#3f83b7">

<!-- vuetify css requirements -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/vuetify@0.12.7/dist/vuetify.min.css" rel="stylesheet" type="text/css">
<style>
	/* fix textfield min-width issue */
	.input-group__input > input {
		width: 0; /* somehow this affects min-width instead of width?! */
	}
	/* zoom out slightly on very small screens (lazy responsive design) */
	@media screen and (max-width: 380px) {
		body { zoom: 0.85; }
	}
</style>

<!-- only required element for html5 is title -->
<title>ChoreScore</title>

<!-- vue mount point -->
<div id="app">
	<div style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: #2196f3;">
		<div><img src="/android-chrome-192x192.png" width="192" height="192" style="background-color: #fff;"></div>
		<h3 style="color: #fff;">ChoreScore</h3>
	</div>
</div>

<!-- javascript requirements -->
<script src="//unpkg.com/lodash@4.17.4"></script>
<script src="//www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<!--script src="//unpkg.com/vue@2.3.4/dist/vue.min.js"></script-->
<script src="//unpkg.com/vue@2.3.4"></script>
<script src="//unpkg.com/vue-router@2.5.3/dist/vue-router.js"></script>
<script src="//unpkg.com/vuetify@0.12.7/dist/vuetify.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.13.1/vuedraggable.min.js"></script>

<!-- webpack bundle script tag inserted here -->
