<template>
	<div>

		<v-card>
			<v-card-row><v-card-title class="primary white--text">Invites</v-card-title></v-card-row>

			<div style="height: 10px;"></div>

			<v-card-row v-for="[ memberKey, memberEtc ] in sortedMemberPairsWithUsersAndInvites" :key="memberKey">
				<v-layout row flex style="align-items: center; min-height: 50px;" class="mx-1">

					<v-flex xs12>
						<strong>{{ memberEtc.displayName || 'Nameless User' }}</strong>
						<template v-if="!!memberEtc.user">
							already has an account
							<span v-if="users[auth.uid] === memberKey">
								(that's you!)
							</span>
						</template>
						<template v-else-if="!!memberEtc.invite">
							had an invite link created
							on {{ formatDate(memberEtc.invite[1].createdDate) }}
							by {{ members[ memberEtc.invite[1].createdBy ] && members[ memberEtc.invite[1].createdBy ].displayName || 'Unknown User' }}
						</template>
						<template v-else>
							needs an invitation
						</template>
					</v-flex>

					<template v-if="!!memberEtc.user">
					</template>

					<template v-else-if="!!memberEtc.invite">
						<v-btn icon small @click.native.stop="showInvite(memberEtc.invite[0])"><v-icon medium dark>visibility</v-icon></v-btn>
						<v-btn icon small @click.native.stop="removeInvite(memberEtc.invite[0])"><v-icon medium dark>remove_circle</v-icon></v-btn>
					</template>

					<template v-else>
						<v-btn icon small @click.native.stop="createInvite(memberKey)"><v-icon medium dark>person_add</v-icon></v-btn>
					</template>

				</v-layout>
			</v-card-row>

			<div style="height: 10px;"></div>

		</v-card>

		<v-dialog-fixed v-model="isDialogShowing" width="80%">
			<v-card>
				<v-card-row>
					<v-card-title class="info white--text">Invite {{ getMemberNameForInviteKey(selectedInviteKey) }}</v-card-title>
				</v-card-row>
				<v-card-row>
					<v-card-text>1. Copy this link:</v-card-text>
				</v-card-row>
				<v-card-row>
					<v-card-text>
						<v-text-field type="text" readonly :value="getFullInviteLink(selectedInviteKey)" @click.native="" single-line hide-details style="margin: 0;"></v-text-field>
					</v-card-text>
					<v-btn icon small @click.native="copyInviteLink(selectedInviteKey)"><v-icon medium dark>content_copy</v-icon></v-btn>
				</v-card-row>
				<v-card-row>
					<v-card-text>2. Send it to {{ getMemberNameForInviteKey(selectedInviteKey) }}!</v-card-text>
					<v-btn @click.native="isDialogShowing = false">Done</v-btn>
				</v-card-row>
			</v-card>
		</v-dialog-fixed>

		<basic-dialog v-model="showingDialogConfirmRemove" title="Remove Invite?" cls="error" yes="Yes" no="No" @yes="confirmRemoveInvite">
			<p>Are you sure you want to remove the invite for "{{ getMemberNameForInviteKey(inviteKeyToRemove) }}"?</p>
			<p>You can always create a new invite, but the old invite link will expire.</p>
		</basic-dialog>

	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'

	import CopyToClipboard from './copy-to-clipboard'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth" ],
		firebase: function() {
			return {
				members: { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/members`) },
				invites: { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/invites`) },
				users:   { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/users`) },
			}
		},
		data() {
			return {
				isDialogShowing:   false,
				selectedInviteKey: undefined,
				showingDialogConfirmRemove: false,
				inviteKeyToRemove:          undefined,
			}
		},
		computed: {
			sortedMemberPairsWithUsersAndInvites() {
				var usersByMember   = _(this.users).groupBy().mapValues(0).value()
				var invitesByMember = _(this.invites).toPairs().groupBy(([inviteKey, invite]) => invite.memberId).mapValues(0).value()
				return _.map(this.sortedMemberPairs, ( [ memberKey, member ] ) => {
					return [ memberKey, {
						user:   usersByMember[memberKey],
						invite: invitesByMember[memberKey],
						...member
					}]
				})
			},
		},
		methods: {
			removeInvite(inviteKey) {
				this.showingDialogConfirmRemove = true
				this.inviteKeyToRemove          = inviteKey
			},
			confirmRemoveInvite() {
				var inviteKey = this.inviteKeyToRemove
				db.ref(`/houses/${this.auth.houseId}/invites/${inviteKey}`).remove()
			},
			createInvite(memberKey) {
				var inviteKey = 'i' + (String(Math.random()).replace(/^0\./, ''))
				db.ref(`/houses/${this.auth.houseId}/invites/${inviteKey}`).set({
					memberId:    memberKey,
					createdDate: (new Date().getTime()),
					createdBy:   this.users[ this.auth.uid ],
				}).then(() => {
					this.showInvite(inviteKey)
				})
			},
			showInvite(inviteKey) {
				this.selectedInviteKey = inviteKey
				this.isDialogShowing   = true
			},
			getFullInviteLink(inviteKey) {
				if (!this.invites || !this.invites[inviteKey]) { return undefined }
				return window.location.protocol + '//' + window.location.host + '/invitation/' + this.auth.houseId + '/' + this.invites[inviteKey].memberId + '/' + inviteKey
			},
			getMemberNameForInviteKey(inviteKey) {
				if (!this.invites || !this.invites[inviteKey]) { return undefined }
				if (!this.members[this.invites[inviteKey].memberId]) { return undefined }
				return this.members[this.invites[inviteKey].memberId].displayName
			},
			copyInviteLink(inviteKey) {
				CopyToClipboard(this.getFullInviteLink(inviteKey))
			},
		},
	}
</script>

<style scoped>
</style>
