<template>
	<div>
		<div>
			
			<v-alert :value="errorMessage" error class="mb-5" dismissible @click.native="errorMessage = undefined">
				{{ errorMessage }}
			</v-alert>

			<div v-if="!isRegisterForm">

				<form novalidate @submit.stop.prevent="login">
					
					<v-text-field label="Email" v-model="email"></v-text-field>
					<v-text-field label="Password" v-model="password" type="password"></v-text-field>
					
					<v-btn dark default type="submit" :disabled="!loginFormIsValid">Login</v-btn>
					<v-btn dark default @click.native="isRegisterForm = true">Register for a new account</v-btn>

				</form>

			</div>
			<div v-else>

				<v-alert :value="true" info class="mb-5">
					Tip: You can use a fake email address (but don't forget your password!)
				</v-alert>

				<form novalidate @submit.stop.prevent="register">
					
					<v-text-field label="Email" v-model="email"></v-text-field>
					<v-text-field label="Password" v-model="password" type="password"></v-text-field>
					<v-text-field label="Password (again)" v-model="passwordAgain" type="password"></v-text-field>

					<v-btn dark default type="submit" :disabled="!registerFormIsValid">Register</v-btn>
					<v-btn dark default @click.native="isRegisterForm = false">Login to an existing account</v-btn>

				</form>

			</div>
		</div>

		<v-dialog-fixed :value="attemptingAuth" persistent transition="div" debugName="login">
			<v-card>
				<v-card-row>
					<v-card-title class="info white--text">Loading</v-card-title>
				</v-card-row>
				<v-card-row>
					<v-card-text>Checking your credentials...</v-card-text>
				</v-card-row>
			</v-card>
		</v-dialog-fixed>
	</div>
</template>

<script>
	import firebase from './firebase-integration'

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		data() {
			return {
				email:          '',
				password:       '',
				passwordAgain:  '',
				errorMessage:   undefined,
				attemptingAuth: false,
				isRegisterForm: false,
			}
		},
		mounted() {
			if (this.$route.path.match(/^\/test/)) {
				this.email    = 'test@example.com'
				this.password = 'password'
				this.login()
				this.$router.push(this.$route.path.replace(/^\/test/, '') || '/')
			}
		},
		computed: {
			loginFormIsValid() {
				return this.email !== '' && this.password !== ''
			},
			registerFormIsValid() {
				return this.email !== '' && this.password !== '' && this.passwordAgain === this.password
			},
		},
		methods: {
			clearForms() {
				this.password = ''
				this.passwordAgain = ''
			},
			submit() {
				this.isRegisterForm ? this.register() : this.login()
			},
			login() {
				this.attemptingAuth = true
				this.errorMessage = undefined
				firebase.auth().signInWithEmailAndPassword(this.email, this.password).catch(error => { // error.code, error.message
					this.attemptingAuth = false
					this.errorMessage = error.message
					this.clearForms()
				})
			},
			register() {
				this.attemptingAuth = true
				this.errorMessage = undefined
				firebase.auth().createUserWithEmailAndPassword(this.email, this.password).catch(error => { // error.code, error.message
					this.attemptingAuth = false
					this.errorMessage = error.message
					this.clearForms()
				})
			},
		},
	}
</script>
