<template>
	<div>

		<v-alert info :value="isGettingStarted" class="mb-3">
			Getting Started?
			{{ gettingStartedTip }}
		</v-alert>

		<v-card>
			<v-card-row><v-card-title class="primary white--text">Configure Members</v-card-title></v-card-row>

			<draggable v-model="sortedMemberPairs" @input="onMemberDrag" :options="{ handle: '.drag-handle' }" class="mt-2" style="width: 100%;">
				<transition-group name="flip-list">
					<div v-for="[ memberKey, member ] in sortedMemberPairs" :key="memberKey">
						<v-card-row>
							<v-btn icon floating small class="grey lighten-2 drag-handle mx-3"><v-icon dark>swap_vert</v-icon></v-btn>
							<v-layout row flex style="align-items: center;">
								<v-flex xs12><v-text-field label="Name" v-model="member.displayName" single-line hide-details style="margin: 0;"></v-text-field></v-flex>
							</v-layout>
							<v-btn icon small @click.native="deleteMember(memberKey)" v-if="myMemberId !== memberKey"><v-icon medium dark>delete</v-icon></v-btn>					
							<v-icon dark v-if="myMemberId === memberKey" class="ma-2" v-tooltip:left="{ html: 'THIS IS ME' }">account_circle</v-icon>			
						</v-card-row>
					</div>
				</transition-group>
			</draggable>

			<v-card-row class="pa-2">
				<v-btn @click.native="addMember">Add Member</v-btn>
				<v-spacer></v-spacer>
				<v-btn @click.native="saveMembers" :disabled="isMemberListUnchanged || !isMemberListValid || isSaving" :loading="isSaving">Save</v-btn>
				<v-btn @click.native="loadMembers" :disabled="isMemberListUnchanged">Cancel</v-btn>
			</v-card-row>
		</v-card>

		<br>

		<Invites :auth="auth"></Invites>

		<basic-dialog v-model="showingCannotDeleteAssocActivityDialog" title="Cannot Delete Member" cls="error">
			<p>You cannot delete this member until all of their associated activities have been deleted.</p>
		</basic-dialog>
		<basic-dialog v-model="showingDialogCannotDeleteAssocInvite" title="Cannot Delete Member" cls="error">
			<p>You cannot delete this member until their invite has been removed.</p>
		</basic-dialog>
		<basic-dialog v-model="showingDialogConfirmDelete" title="Delete Member?" cls="error" yes="Yes" no="No" @yes="confirmDeleteMember">
			<p>Are you sure you want to delete the member "{{ members[memberKeyToDelete] ? members[memberKeyToDelete].displayName : '?' }}"?</p>
			<p>Note: the member will not be deleted until you click Save.</p>
		</basic-dialog>

	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'
	import Invites from './Invites.vue'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth" ],
		components: { Invites },
		firebase: function() {
			return {
				chores:     { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/chores`) },
				invites:    { asObject: true, source: db.ref(`/houses/${this.auth.houseId}/invites`) }, // for getting started tip
				myMemberId: { asScalar: true, source: db.ref(`/houses/${this.auth.houseId}/users/${this.auth.uid}`) },
			}
		},
		data() {
			return {
				members:                   {},
				membersOriginal:           [],
				isSaving:                  false,
				showInviteDialogMemberKey: false,
				isGettingStarted:          false,
				showingCannotDeleteAssocActivityDialog: false,
				showingDialogCannotDeleteAssocInvite:   false,
				showingDialogConfirmDelete:             false,
				memberKeyToDelete:                      undefined,
			}
		},
		mounted() {
			this.loadMembers()
		},
		computed: {
			isMemberListUnchanged() {
				return _.isEqual(this.members, this.membersOriginal)
			},
			isMemberListValid() {
				return _.every(this.members, member => { return member.displayName })
			},
			gettingStartedTip() {
				if (this.sortedMemberPairs.length < 1) {
					return "Please wait"
				}
				if (this.sortedMemberPairs.length < 2 && _.some(this.members, member => !member.displayName)) {
					return "Give yourself a name"
				}
				if (this.sortedMemberPairs.length < 2) {
					return "Add another member"
				}
				if (_.some(this.members, member => !member.displayName)) {
					return "Give everyone a name"
				}
				if (_.size(this.membersOriginal) < 2) {
					return "Click Save!"
				}
				if (_.size(this.invites) < 1) {
					return "Create invitations"
				}
				return "Click the \"Hamburger\" icon in the top corner and configure your Chores"
			},
		},
		methods: {
			loadMembers() {
				db.ref(`/houses/${this.auth.houseId}/members`).once('value').then(snapshot => {
					this.members = snapshot.val()
					this.membersOriginal = _.cloneDeep(this.members)
					if (_.size(this.members) < 2) {
						this.isGettingStarted = true
					}
				})
			},
			onMemberDrag(newSortedMembers) {
				var order = 0
				_.each(newSortedMembers, ( [ memberKey, member ] ) => {
					this.members[memberKey].order = order++
				})
			},
			addMember() {
				var newOrder = (_(this.members).map('order').max() || 0) + 1
				var newKey   = 'm' + ((_(this.members).keys().map( key => key[0] === 'm' ? parseInt(key.substr(1)) : 0 ).max() || 0) + 1)
				var newMemberDict = {
					displayName: undefined,
					totalScore:  0,
					order:       newOrder,
				}
				Vue.set(this.members, newKey, newMemberDict)
			},
			deleteMember(memberKey) {
				db.ref(`/houses/${this.auth.houseId}/activities`).orderByChild('memberId').equalTo(memberKey).limitToFirst(1).once('value').then(snapshot => {
					if (snapshot.val() !== null) {
						this.showingCannotDeleteAssocActivityDialog = true
						return
					}
					db.ref(`/houses/${this.auth.houseId}/invites`).orderByChild('memberId').equalTo(memberKey).limitToFirst(1).once('value').then(snapshot => {
						if (snapshot.val() !== null) {
							this.showingDialogCannotDeleteAssocInvite = true
							return
						}
						this.showingDialogConfirmDelete = true
						this.memberKeyToDelete = memberKey
					})
				})
			},
			confirmDeleteMember() {
				Vue.delete(this.members, this.memberKeyToDelete)
			},
			saveMembers() {
				this.membersOriginal = _.cloneDeep(this.members)
				this.isSaving = true
				db.ref(`/houses/${this.auth.houseId}/members`).transaction(latestMembers => {
					_.each(latestMembers, (latestMember, latestMemberKey) => {
						if (this.members[ latestMemberKey ]) {
							this.members[ latestMemberKey ].totalScore = latestMember.totalScore // carry latest totalScores forward
						}
					})
					return this.members
				}).then(() => {
					this.isSaving = false
					this.retotalScores() // if any chores have unequal shares, if the member count changes, everyones' scores will change
				})
			},
		},
	}
</script>

<style scoped>
	.flip-list-move {
  	transition: transform 0.5s;
	}
</style>
