<template>
	<div>

		<v-card>
			<v-card-row>
				<v-card-title class="primary white--text">
					Wait for an invitation?
				</v-card-title>
			</v-card-row>
			<v-card-text>
				<p>If you know someone else is setting up ChoreScore for your household, ask them to send you an "invite".</p>
			</v-card-text>
		</v-card>

		<br>

		<v-card>
			<v-card-row>
				<v-card-title class="primary white--text">
					Or start a new household?
				</v-card-title>
			</v-card-row>
			<v-card-text>
				<p>
					Create a new household, add members, configure chores, send out invites to your roommates, then start tracking your scores together!
				</p>
				<v-btn block @click.native="startHouse" class="primary white--text">Start!</v-btn>
			</v-card-text>
		</v-card>

	</div>
</template>

<script>

	import firebase from './firebase-integration'
	var db = firebase.database()

	import CommonMixin from './commonMixin'

	export default {
		mixins: [ CommonMixin ],
		props: [ "auth" ],
		data() {
			return {
			}
		},
		computed: {
		},
		methods: {
			startHouse() {
				var houseKey = 'h' + (String(Math.random()).replace(/^0\./, ''))
				var starterHouse = {
					chores: {
						c1: {
							multiplier: "15",
							name: "Dishes",
							order: 0,
						},
						c2: {
							multiplier: 10,
							name: "Garbage",
							order: 1,
						},
					},
					members: {
						m1: {
							displayName: "",
							order: 0,
							totalScore: 0,
						},
					},
					users: {
						[this.auth.uid] : "m1"
					}
				}
				// create the house object
				db.ref(`/houses/${houseKey}`).set(starterHouse).then(() => {
					// set this house as the user's default house
					db.ref(`/users/${this.auth.uid}/houseId`).set(houseKey).then(() => {
						// redirect to members page
						this.$router.push('/members')
					})
				})
			},
		},
	}
</script>

<style scoped>
</style>
